.maincontainer {
  margin: 5px;
  background-color: transparent;
  /*rgba(222, 216, 226, 0.733);*/
  width: 650px;
  padding: 10px;
}

h2 {
  font-size: 36px;
  text-align: center;
}

#navmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
}

#nav2 {
  text-decoration: none;
  font-size: 22px;
  list-style: none;
  padding: 5px 5px 5px 5px;
}

#nav2:hover {
  color: blue;
}

.article {
  margin: 5px;
  padding: 5px;
  margin-top: 25px;
  /* border: 1px solid black;*/
  border-radius: 6px;
  background-color: white;
}

/* link principal */
/* Caja del titulo de la tabla */
/* Caja de links */
/* Caja de botones */
/* Recuadro NEW */
body {
  background-color: #f5f5f5;
}

#Side2 {
  width: 320px;
}

.BlockM {
  background-color: #fafafa;
}

.BlockMT {
  background-color: #f5f5f5;
  padding: 15px;
  color: #717171;
  font-size: 16;
}

.BoxT {
  background-color: #f5f5f5;
  padding: 15px;
  color: #717171;
  font-size: 16;
  font-weight: bold;
}

#BlockImg {
  width: 320px;
}

.Link {
  text-decoration: none;
  color: #404040;
}

.Link2 {
  text-decoration: none;
  color: #404040;
}

.Link2:hover {
  color: #3b49df;
}

.TitleBox {
  padding: 15px;
  font-size: 16;
  font-weight: bold;
  border: 1px solid #eaeaea;
}

.SubPageBox {
  padding: 15px;
  color: #717171;
  font-size: 16;
  border: 1px solid #eaeaea;
}

.SubPageBox:hover {
  background-color: white;
}

.SubPageBoxT {
  padding: 15px;
  font-size: 16;
}

.SubPageBoxT:hover {
  background-color: white;
}

#Buttons {
  height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 1px solid #eaeaea;
}

.BtnBlue {
  background-color: #3b49df;
  color: white;
  width: 280px;
  height: 35px;
  border-radius: 6px;
  outline: none;
}

.BtnGray {
  background-color: #d6d6d7;
  color: #3d3d3d;
  width: 280px;
  height: 35px;
  border-radius: 6px;
  outline: none;
}

.Space {
  width: 320px;
  height: 25px;
}

#New {
  color: #783501;
  background-color: #fcd34d;
  padding: 4px;
  border-radius: 4px;
}

aside {
  width: 215.703px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
}

#containerAsideIzq1 {
  background-color: #fafafa;
  border: 1px solid #fafafa;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 215.703px;
  height: 200px;
  font-size: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dev {
  color: rgb(59, 73, 223);
  font-size: 20px;
  font-weight:200px;
}

.buttonIzq1 {
  width: 215.703px;
  border: 1.5px solid #3b49df;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 7px;
  padding-top: 7px;
  border-radius: 8%;
  text-align: center;
  font-size: 16px;
  font-weight: 200px;
}

.buttonIzq1:hover {
  color: white;
  background-color: #3b49df;
  text-decoration: underline;
}

.login{
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 400px; 
}
.login:hover {
background-color: rgba(59,73,223,0.1);
text-decoration: underline;
width: 111px;
text-align: center;
border-radius: 8px;
}

#containerAsideIzq2 ul li {
  width: 215.703px;
  height: 24px;
  padding: 8px;
  list-style: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0);
  font-size: 16px;
  text-align: left;
}

#containerAsideIzq2 ul li img{
width: 15px;
margin: 0px left;
background-color: transparent;


}

#containerAsideIzq2 ul li:hover {
  background-color: rgba(59,73,223,0.1);
  text-decoration: underline;
  width: 245.703px;
  text-align: left;
  }

#containerAsideIzq3 ul li {
  list-style: none;
  text-decoration: none;
  color: rgba(0, 0, 0, 0);
  font-size: 16px;
  padding: 8px;
  text-align: left;
}

#containerAsideIzq3 ul li img{
  width: 15px;
  margin: 0px left;
  background-color: transparent;
}

#containerAsideIzq3 ul li:hover {
  background-color: rgba(59,73,223,0.1);
  text-decoration: underline;
  width: 245.703px;
  text-align: left;
  }

  #contacto img:hover{
    border: 5px solid rgba(59,73,223,0.2);
    margin-bottom: 3px;

  }


#containerAsideIzq4 ul {
  font-size: 16px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#containerAsideIzq4 ul li:hover{
  background-color: rgba(59,73,223,0.1);
  text-decoration: underline;
  width: 245.703px;
  text-align: left;
}



#containerAsideIzq5 {
  background-color: #fafafa;
  border: 1px solid #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #3b49df;
  background-color: #fafafa;
  border: 1px solid #fafafa;
}

#containerAsideIzq6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: black;
  background-color: #fafafa;
  border: 1px solid #fafafa;
  margin-top: 10px;
}

#containerAsideIzq6 a{
color: rgb(59, 73, 223);
}

/* Style the submit button */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: rgba(235, 235, 235, 0.705);
}

a {
  font-family: "Roboto", sans-serif;
  color: black;
}

li {
  font-family: "Roboto", sans-serif;
  color: black;
}

header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5rem 2rem;
}

.nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: green;
}

.nav-menu li {
  margin-right: 1.5rem;
  color: white;
  position: absolute;
  right: 460px;
}

.nav-menu li:last-child {
  background-color: white;
  border: 1px solid blue;
  color: blue;
  padding: .25rem .75rem;
  border-radius: 10px;
  position: absolute;
  right: 280px;
}

.nav-menu li:last-child:hover {
  background: transparent;
  border: 2px solid blue;
}

.nav-menu a:hover {
  color: white;
  background-color: blue;
  border-radius: 15%;
}

.logo-header img {
  width: 50px;
  position: relative;
  left: 250px;
  bottom: 3px;
}

.search {
  margin: 7px;
  position: absolute;
  left: 80px;
}

.search input[type=text] {
  width: 310px;
  height: 33px;
  border-radius: 15px;
  position: relative;
  left: 250px;
  bottom: 3px;
}

.search button {
  width: 20%;
  height: 40px;
  padding: 15px;
  background: transparent;
  position: absolute;
  left: 490px;
  bottom: 7px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 14px;
}

.search button:hover {
  background: transparent;
  color: blue;
}

#alineacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 768px) and (max-width: 1240px) {
  body {
    background-color: black;
  }
}
/*# sourceMappingURL=styles.css.map */