.maincontainer{
    margin: 5px;
    background-color: rgba(222, 216, 226, 0.733);
    width: 650px;
    padding: 10px;
}

h2 {
    font-size: 36px;
    text-align: center;
}


li{
    text-decoration: none;
    font-size:22px;
    list-style: none;
}

    